<section class="contact" id="contact">
  <div class="contact-inner">
    <div>
      <div class="sec-label">Contact</div>
      <h3>Let's <em>move things</em><br>forward together.<span class="live-dot"></span></h3>
      <p class="lead-c">Open to consulting on courier IT, software development partnerships, or full-time leadership roles. Reply within 24h, usually faster.</p>
      <ul class="contact-list">
        <li><span class="key">Email</span><a href="mailto:marius.teler@gmail.com" style="color:inherit;">marius.teler@gmail.com</a></li>
        <li><span class="key">Phone</span><a href="tel:+4070064137" style="color:inherit;">+40 700 64 137</a></li>
        <li><span class="key">Location</span>Chiajna, Bucharest</li>
        <li><span class="key">GitHub</span><a href="https://github.com/MariusTeler" style="color:inherit;" rel="noopener">github.com/MariusTeler</a></li>
      </ul>
    </div>
    {% include "partials/_contact_form.html" %}
  </div>
</section>
